.footer {
    text-align: center;
}

.film-container {
    padding-top: 25px;

}

.selected-films{
    margin: 20px 0 20px 0;
}
.value {
    text-align: center;
    
}
.film-card {
    text-align: center;


}

.frame-place {

    margin-bottom: 350px;
}

.homepage {
    text-align: center;
}

#date-select{
    margin: 10px 0;
}
