.footer {
    text-align: center;
}

.film-container {
    padding-top: 25px;

}

.selected-films{
    margin: 20px 0 20px 0;
}
.value {
    text-align: center;
    margin-bottom: 100px;
}
.film-card {
    text-align: center;

}

.frame-place {
    margin-top: 200px;
    align-items: center;

}
